body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: bisque;
}

.parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 20%;
    height: 70vh;
    margin-top: 120px;

}

.parent .child-1{
    background-image: url(/images/men.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 80%;
    margin-left: 40%;
}

 .child-2{
    background-color: #fff;
    width: 70%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.parent .child-2 .content h3{
    margin-left: 30%;
}

.parent .child .content p{
    margin-left: 20%;
}

.parent .child-2 .content button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #000000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #009688;
}